<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" 
         id="WebApp_ID" 
         version="5.0">
  
  <display-name>_K22CNT3_NguyenTrucKien_2210900033_Project3</display-name>
  
  <!-- Danh sách các file chào mừng -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- Cấu hình Servlet -->
  <servlet>
    <servlet-name>DisplayDataServlet</servlet-name>
    <servlet-class>DisplayDataServlet</servlet-class> <!-- Đảm bảo đường dẫn package đúng nếu có -->
  </servlet>
  
  <!-- Ánh xạ URL cho Servlet -->
  <servlet-mapping>
    <servlet-name>DisplayDataServlet</servlet-name>
    <url-pattern>/display</url-pattern> <!-- Truy cập Servlet qua /display -->
  </servlet-mapping>
  
</web-app>