<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="~{admin/fragments/header :: header}"></nav>
    <aside th:replace="~{admin/fragments/asideSidebar :: asideSidebar}"></aside>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Quản lý nhà xuất bản</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
                            <li class="breadcrumb-item active">Quản lý nhà xuất bản</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="p-2 d-flex justify-content-between">
                            <h3 class="card-title">Danh sách nhà xuất bản</h3>
                            <a th:href="@{/admin/nhaxuatban/create}" class="btn btn-sm btn-success"> <i class="fas fa-plus"></i> Thêm mới nhà xuất bản</a>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Mã nhà xuất bản</th>
                                    <th>Tên nhà xuất bản</th>
                                    <th>Địa chỉ</th>
                                    <th>Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="nhaXuatBan : ${list_nhaxuatban}">
                                    <td th:text="${nhaXuatBan.id}"></td>
                                    <td th:text="${nhaXuatBan.tenNhaXuatBan}"></td>
                                    <td th:text="${nhaXuatBan.diaChi}"></td>
                                    <td>
                                        <a th:href="@{/admin/nhaxuatban/show/{id}(id=${nhaXuatBan.id})}" class="btn btn-sm btn-info">
                                            <i class="fas fa-info-circle"></i> Chi tiết
                                        </a>
                                        <a th:href="@{/admin/nhaxuatban/edit/{id}(id=${nhaXuatBan.id})}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-edit"></i> Sửa
                                        </a>
                                        <a th:href="@{/admin/nhaxuatban/delete/{id}(id=${nhaXuatBan.id})}" class="btn btn-sm btn-danger"
                                           onclick="return confirm('Bạn có chắc chắn muốn xóa bài viết này?')">
                                            <i class="fas fa-trash"></i> Xóa
                                        </a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(list_nhaxuatban)}">
                                    <td colspan="4" class="text-center">Không có dữ liệu để hiển thị!</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer th:replace="~{admin/fragments/mainFooter :: mainFooter}"></footer>
</div>
<div th:replace="~{admin/fragments/script :: script}"></div>
</body>
</html>