<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="vi"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Bingo One page parallax responsive HTML Template ">

    <meta name="author" content="Themefisher.com">

    <title>Copyright © | Quản lý bản quyền tác giả</title>

    <!-- Mobile Specific Meta
      ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/home/images/logo2.png" />

    <!-- CSS
    ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="/home/plugins/themefisher-font/style.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/home/plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Lightbox.min css -->
    <link rel="stylesheet" href="/home/plugins/lightbox2/dist/css/lightbox.min.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="/home/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/home/plugins/slick-carousel/slick/slick-theme.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/home/css/style.css">


    <!-- Colors -->
    <!-- <link rel="stylesheet" type="text/css" href="css/colors/green.css" title="green">
    <link rel="stylesheet" type="text/css" href="css/colors/red.css" title="light-red">
    <link rel="stylesheet" type="text/css" href="css/colors/light-blue.css" title="light-blue">
    <link rel="stylesheet" type="text/css" href="css/colors/yellow.css" title="yellow">
    <link rel="stylesheet" type="text/css" href="css/colors/light-green.css" title="light-green">
    <link rel="stylesheet" type="text/css" href="css/colors/blue.css" title="blue"> -->


</head>

<body id="body">

<!--
 Start Preloader
 ==================================== -->
<div id="preloader">
    <div class="preloader">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>
<!--
End Preloader
==================================== -->




<!--
Fixed Navigation
==================================== -->
<section class="header  navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand" href="index">
                        <img src="/home/images/logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="tf-ion-android-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index">Trang chủ <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about">Thông tin về bản quyền</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="genre">Thể loại sách</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Liên hệ
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item">SĐT: 0363789548</a>
                                    <a class="dropdown-item">Email: truckien626@gmail.com</a>
                                    <a class="dropdown-item" href="https://www.facebook.com/Namelessking2077">Facebook</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="404">404 Page</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="signup">Đăng ký</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</section>

<!--
Welcome Slider
==================================== -->

<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="video-player">
                    <img class="img-fluid rounded" src="/home/images/slider/video-player-thumb.jpg" alt="">
                    <a class="play-icon" href="javascript:void(0)">
                        <i class="tf-ion-play"  data-video="https://www.youtube.com/embed/eLEybC_Gbak?autoplay=1"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h2>Xin chào</h2>
                    <p>Trang web Copyright © là một nền tảng trực tuyến hiện đại, được thiết kế để hỗ trợ các tác giả, nhà sáng tạo và tổ chức quản lý hiệu quả quyền sở hữu trí tuệ của mình. Với giao diện thân thiện, tính năng bảo mật cao, website cung cấp các dịch vụ như đăng ký bản quyền, theo dõi sử dụng tác phẩm, và xử lý vi phạm. Đây là giải pháp toàn diện, giúp bảo vệ và phát triển giá trị sáng tạo trong thời đại số hóa. </p>
                    <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                        <li class="list-inline-item">
                            <a href="#" target="_blank" class="btn btn-main">Đăng ký bản quyền</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
Start About Section
==================================== -->
<section class="about-2 section bg-gray" id="about2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <h2>Giới thiệu và công bố các công trình nghiên cứu khoa học về công tác đào tạo, giảng dạy, nghiên cứu
                    khoa học pháp luật của các chuyên gia, giảng viên, nghiên cứu sinh, sinh viên phục vụ công tác đào tạo và nghiên cứu khoa học pháp lý.</h2>
            </div>
            <div class="col-12 col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae deleniti ipsa labore necessitatibus culpa veritatis quo accusantium, neque enim ea ad eaque iure, quas tempore velit, quibusdam dolor illo! Explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quisquam maiores iste soluta, nihil dolorem?</p>
            </div>

        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->

<section class="services section-xs"  id="services">
    <div class="container">
        <div class="row">
            <!-- Single Service Item -->
            <div class="col-md-4 col-sm-6 col-xs-12" >
                <div class="service-block color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-copy-outline"></i>
                    </div>
                    <h3>WordPress Theme</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-md-4 col-sm-6 col-xs-12" >
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-alarm-outline"></i>
                    </div>
                    <h3>Responsive Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-md-4 col-sm-6 col-xs-12 mx-auto"  >
                <div class="service-block color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-book-outline"></i>
                    </div>
                    <h3>Media &amp; Advertisement</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->




<section class="about section-sm" id="about">
    <div class="container">
        <div class="row mb-50 justify-content-center">
            <div class="col-md-5 col-sm-12 text-center offset-md-1">
                <img src="/home/images/about/about-1.jpg" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="content">
                    <h2>Creativity is in our <br> blood</h2>
                    <p>Curabitur felis nibh, imperdiet eu erat non, luctus cursus lectus. Donec maximus diam leo, sed fringilla nisl auctor eget. Donec dictum neque est, ac faucibus ex blandit a
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quo minima ab aperiam molestiae natus repellendus neque culpa iure, nemo veritatis explicabo facilis, officia, saepe! Et corrupti odit, non deserunt.
                </div>

                </p>
            </div>
        </div> 		<!-- End row -->
        <div class="row mt-50 justify-content-center">
            <div class="col-12 col-md-5 offset-md-1 col-md-5 col-sm-12">
                <div class="content">
                    <h2>We think out of the <br> Box</h2>
                    <p>Curabitur felis nibh, imperdiet eu erat non, luctus cursus lectus. Donec maximus diam leo, sed fringilla nisl auctor eget. Donec dictum neque est, ac faucibus ex blandit a
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quo minima ab aperiam molestiae natus repellendus neque culpa iure, nemo veritatis explicabo facilis, officia, saepe! Et corrupti odit, non deserunt.
                </div>

                </p>
            </div>
            <div class="col-12 col-md-5 col-sm-12 text-center">
                <img src="/home/images/about/about-2.jpg" class="img-fluid rounded shadow" alt="">
            </div>
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->

<!--
Start About Section
==================================== -->
<section class="service-2 section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h4>Cách chúng tôi làm việc</h4>
                    <h2>Quy trình làm việc</h2>
                    <span class="border"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum reiciendis quasi itaque, obcaecati atque sit!</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6 p-0">
                <div class="service-item text-center">
                    <span class="count">1.</span>
                    <i class="tf-ion-ios-briefcase-outline"></i>
                    <h4>Project Analysis</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-0">
                <div class="service-item text-center">
                    <span class="count">2.</span>
                    <i class="tf-ion-ios-alarm-outline"></i>
                    <h4>Time Management</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-4 col-sm-6 p-0">
                <div class="service-item text-center">
                    <span class="count">3.</span>
                    <i class="tf-ion-ios-email-outline"></i>
                    <h4>Mail Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-0">
                <div class="service-item text-center">
                    <span class="count">4.</span>
                    <i class="tf-ion-ios-locked-outline"></i>
                    <h4>Secure System</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
                </div>
            </div>
        </div>    <!-- End row -->
    </div>    <!-- End container -->
</section>   <!-- End section -->
<!-- Start Testimonial
=========================================== -->
<!-- Srart Contact Us
		=========================================== -->
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h4>Drop us a note</h4>
                    <h2>Contact Us.</h2>
                    <span class="border"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum reiciendis quasi itaque, obcaecati atque sit!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Contact Details -->
            <div class="col-12 col-md-6">
                <div class="map">
                    <div id="map"></div>
                </div>

            </div>
            <!-- / End Contact Details -->

            <!-- Contact Form -->
            <div class="contact-form col-12 col-md-6 " >
                <form id="contact-form" method="post" action="sendmail.php" role="form">

                    <div class="form-group">
                        <input type="text" placeholder="Your Name" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="Your Email" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>
                    </div>

                    <div id="mail-success" class="success">
                        Thank you. The Mailman is on His Way :)
                    </div>

                    <div id="mail-fail" class="error">
                        Sorry, don't know what happened. Try later :(
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
                    </div>

                </form>
            </div>
            <!-- ./End Contact Form -->
        </div> <!-- end row -->
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block">
                    <i class="tf-ion-android-pin"></i>
                    <h4>Địa chỉ</h4>
                    <p>
                        28A Đ. Lê Trọng Tấn,<br>
                        Hà Cầu, Hà Đông, Hà Nội, Việt Nam <br>

                    </p>

                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-telephone"></i>
                    <h4>Số điện thoại</h4>
                    <p>
                        0363789548 <br>
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="social-icons-block contact-meta-block">
                    <i class="tf-ion-ios-contact"></i>
                    <h4>Mạng xã hội</h4>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-facebook"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-twitter"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-dribbble"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div> <!-- end container -->
</section> <!-- end section -->

<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>About</h3>
                    <p>Trang web Copyright © là một nền tảng trực tuyến hiện đại, được thiết kế để hỗ trợ các tác giả, nhà sáng tạo và tổ chức quản lý hiệu quả quyền sở hữu trí tuệ của mình. Với giao diện thân thiện, tính năng bảo mật cao, website cung cấp các dịch vụ như đăng ký bản quyền, theo dõi sử dụng tác phẩm, và xử lý vi phạm. Đây là giải pháp toàn diện, giúp bảo vệ và phát triển giá trị sáng tạo trong thời đại số hóa.</p>
                </div>
                <!-- End of .col-sm-3 -->

<!--                <div class="col-sm-3 col-md-3 col-lg-3">-->
<!--                    <h3>Our Services</h3>-->
<!--                    <ul>-->
<!--                        <li><a href="#">Graphic Design</a></li>-->
<!--                        <li><a href="#">Web Design</a></li>-->
<!--                        <li><a href="#">Web Development</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
                <!-- End of .col-sm-3 -->

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Liên kết nhanh</h3>
                    <ul>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Badges</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Đăng ký nhận thông báo ngay</h3>
                    <form class="subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập email">
                        </div>
                        <button type="submit" class="btn btn-main-sm">Gửi</button>
                    </form>
                </div>
                <!-- End of .col-sm-3 -->

            </div>
        </div> <!-- end container -->
    </div>
    <div class="footer-bottom">
        <h5>Copyright 2025. Quản lý bản quyền tác giả .</h5>
    </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->



<!--
Essential Scripts
=====================================-->

<!-- Main jQuery -->
<script src="/home/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.7 -->
<script src="/home/plugins/bootstrap/dist/js/popper.min.js"></script>
<script src="/home/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Parallax -->
<script src="/home/plugins/parallax/jquery.parallax-1.1.3.js"></script>
<!-- lightbox -->
<script src="/home/plugins/lightbox2/dist/js/lightbox.min.js"></script>
<!-- Owl Carousel -->
<script src="/home/plugins/slick-carousel/slick/slick.min.js"></script>
<!-- Portfolio Filtering -->
<script src="/home/plugins/mixitup/dist/mixitup.min.js"></script>
<!-- Smooth Scroll js -->
<script src="/home/plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>

<!-- Custom js -->
<script src="/home/js/script.js"></script>

</body>
</html>
