<!DOCTYPE html>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<html class="no-js lt-ie9 lt-ie8">
<html class="no-js lt-ie9">

<html class="no-js" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Bingo One page parallax responsive HTML Template ">

    <meta name="author" content="Themefisher.com">

    <title>Copyright © | Quản lý bản quyền tác giả</title>

    <!-- Mobile Specific Meta
      ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/home/images/logo2.png" />

    <!-- CSS
    ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="/home/plugins/themefisher-font/style.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/home/plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Lightbox.min css -->
    <link rel="stylesheet" href="/home/plugins/lightbox2/dist/css/lightbox.min.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="/home/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/home/plugins/slick-carousel/slick/slick-theme.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/home/css/style.css">
</head>

<body id="body">

<div id="preloader">
    <div class="preloader">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>
<section class="header  navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand" href="index">
                        <img src="/home/images/logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="tf-ion-android-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index">Trang chủ <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Liên hệ
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item">SĐT: 0363789548</a>
                                    <a class="dropdown-item">Email: truckien626@gmail.com</a>
                                    <a class="dropdown-item" href="https://www.facebook.com/Namelessking2077">Facebook</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="signup">Đăng ký</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</section>

<!--
Welcome Slider
==================================== -->

<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="video-player">
                    <img class="img-fluid rounded" src="/home/images/slider/video-player-thumb.jpg" alt="">
                    <a class="play-icon" href="javascript:void(0)">
                        <i class="tf-ion-play"  data-video="https://www.youtube.com/embed/eLEybC_Gbak?autoplay=1"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h2>Xin chào</h2>
                    <p>Trang web Copyright © là một nền tảng trực tuyến hiện đại, được thiết kế để hỗ trợ các tác giả,
                        nhà sáng tạo và tổ chức quản lý hiệu quả quyền sở hữu trí tuệ của mình. Với giao diện thân thiện,
                        tính năng bảo mật cao, website cung cấp các dịch vụ như đăng ký bản quyền, theo dõi sử dụng tác phẩm,
                        và xử lý vi phạm. Đây là giải pháp toàn diện, giúp bảo vệ và phát triển giá trị sáng tạo trong thời đại số hóa. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
Start About Section
==================================== -->
<section class="about-2 section bg-gray" id="about2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <h2>Giới thiệu và công bố các công trình nghiên cứu khoa học về công tác đào tạo, giảng dạy, nghiên cứu
                    khoa học pháp luật của các chuyên gia, giảng viên, nghiên cứu sinh, sinh viên phục vụ công tác đào tạo và nghiên cứu khoa học pháp lý.</h2>
            </div>
            <div class="col-12 col-md-7">
                <p>(Copyright) là nền tảng cung cấp thông tin và hỗ trợ bảo vệ quyền tác giả, giúp đăng ký bản quyền, tra cứu tình trạng bảo hộ sách, cập nhật luật pháp và xử lý vi phạm bản quyền. Trang web giúp tác giả, nhà xuất bản và độc giả hiểu rõ về quyền sở hữu trí tuệ, góp phần xây dựng môi trường xuất bản minh bạch, tôn trọng sáng tạo và chống vi phạm bản quyền.</p>

            </div>

        </div>
    </div>
</section>

<section class="services section-xs"  id="services">
    <div class="container">
        <div class="row">
            <!-- Single Service Item -->
            <div class="col-md-4 col-sm-6 col-xs-12" >
                <div class="service-block color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-copy-outline"></i>
                    </div>
                    <h3>WordPress Theme</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-md-4 col-sm-6 col-xs-12" >
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-alarm-outline"></i>
                    </div>
                    <h3>Responsive Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-md-4 col-sm-6 col-xs-12 mx-auto"  >
                <div class="service-block color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-book-outline"></i>
                    </div>
                    <h3>Media &amp; Advertisement</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->




<section class="about section-sm" id="about">
    <div class="container">
        <div class="row mb-50 justify-content-center">
            <div class="col-md-5 col-sm-12 text-center offset-md-1">
                <img src="/home/images/about/about-1.jpg" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="content">
                    <h2>Bản quyền sách là gì?</h2>
                    <p>Bản quyền sách là quyền pháp lý được cấp cho tác giả sáng tạo ra nội dung cuốn sách để bảo vệ quyền lợi và kiểm soát việc sử dụng, sao chép, phân phối và công bố cuốn sách đó. Bản quyền sách cho phép tác giả/chủ sở hữu độc quyền sử dụng và khai thác tác phẩm của mình.
                        Điều này có nghĩa là tác giả có quyền quyết định ai được sử dụng tác phẩm của mình. Vì vậy nếu ai đó muốn tái bản, sao chép, dịch thuật, phát hành hoặc sử dụng tác phẩm, họ phải có sự cho phép của tác giả hoặc chủ sở hữu quyền tác giả trong trường hợp tác giả và chủ sở hữu không đồng thời là một.
                </div>

                </p>
            </div>
        </div> 		<!-- End row -->
        <div class="row mt-50 justify-content-center">
            <div class="col-12 col-md-5 offset-md-1 col-md-5 col-sm-12">
                <div class="content">
                    <h2>Điều 49.<br>  Đăng ký quyền tác giả, đăng ký quyền liên quan</h2>
                    <p>1. Đăng ký quyền tác giả, đăng ký quyền liên quan là việc tác giả, chủ sở hữu quyền tác giả, chủ sở hữu quyền liên quan nộp hồ sơ cho cơ quan nhà nước có thẩm quyền để ghi nhận các thông tin về tác giả, tác phẩm, chủ sở hữu quyền tác giả, chủ sở hữu quyền liên quan.
                        2. Việc nộp hồ sơ để được cấp Giấy chứng nhận đăng ký quyền tác giả, Giấy chứng nhận đăng ký quyền liên quan không phải là thủ tục bắt buộc để được hưởng quyền tác giả, quyền liên quan theo quy định của Luật này.
                </div>

                </p>
            </div>
            <div class="col-12 col-md-5 col-sm-12 text-center">
                <img src="/home/images/about/about-2.jpg" class="img-fluid rounded shadow" alt="">
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>About</h3>
                    <p>Trang web Copyright © là một nền tảng trực tuyến hiện đại, được thiết kế để hỗ trợ các tác giả, nhà sáng tạo và tổ chức quản lý hiệu quả quyền sở hữu trí tuệ của mình. Với giao diện thân thiện, tính năng bảo mật cao, website cung cấp các dịch vụ như đăng ký bản quyền, theo dõi sử dụng tác phẩm, và xử lý vi phạm. Đây là giải pháp toàn diện, giúp bảo vệ và phát triển giá trị sáng tạo trong thời đại số hóa.</p>
                </div>
                <!-- End of .col-sm-3 -->

<!--                <div class="col-sm-3 col-md-3 col-lg-3">-->
<!--                    <h3>Our Services</h3>-->
<!--                    <ul>-->
<!--                        <li><a href="#">Graphic Design</a></li>-->
<!--                        <li><a href="#">Web Design</a></li>-->
<!--                        <li><a href="#">Web Development</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
                <!-- End of .col-sm-3 -->

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Liên kết nhanh</h3>
                    <ul>
                        <li><a class="nav-link" href="login">Đăng nhập</a></li>
                        <li><a class="nav-link" href="signup">Đăng ký</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Đăng ký nhận thông báo ngay</h3>
                    <form class="subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập email">
                        </div>
                        <button type="submit" class="btn btn-main-sm">Gửi</button>
                    </form>
                </div>
                <!-- End of .col-sm-3 -->

            </div>
        </div> <!-- end container -->
    </div>
    <div class="footer-bottom">
        <h5>Copyright 2025. Quản lý bản quyền tác giả .</h5>
    </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->



<!--
Essential Scripts
=====================================-->

<!-- Main jQuery -->
<script src="/home/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.7 -->
<script src="/home/plugins/bootstrap/dist/js/popper.min.js"></script>
<script src="/home/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Parallax -->
<script src="/home/plugins/parallax/jquery.parallax-1.1.3.js"></script>
<!-- lightbox -->
<script src="/home/plugins/lightbox2/dist/js/lightbox.min.js"></script>
<!-- Owl Carousel -->
<script src="/home/plugins/slick-carousel/slick/slick.min.js"></script>
<!-- Portfolio Filtering -->
<script src="/home/plugins/mixitup/dist/mixitup.min.js"></script>
<!-- Smooth Scroll js -->
<script src="/home/plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>

<!-- Custom js -->
<script src="/home/js/script.js"></script>

</body>
</html>
