<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Copyright © | Quản lý bản quyền tác giả</title>
    <link rel="stylesheet" th:href="@{/home/css/login.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
<div class="wrapper">
    <div class="title"><span>Đăng nhập</span></div>
    <!-- Hiển thị thông báo lỗi nếu đăng nhập thất bại -->
    <div th:if="${param.error}" class="alert alert-danger">
        Email hoặc mật khẩu không đúng!
    </div>

    <!-- Hiển thị thông báo khi đăng xuất thành công -->
    <div th:if="${param.logout}" class="alert alert-success">
        Bạn đã đăng xuất thành công.
    </div>
    <form th:action="@{/doLogin}" method="post">
        <div class="row">
            <i class="fas fa-envelope"></i>
            <input type="text" name="email" placeholder="Email" required />
        </div>
        <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" name="matKhau" placeholder="Mật khẩu" required />
        </div>
        <div class="pass"><a href="#" th:href="@{/forgot-password}">Quên mật khẩu?</a></div>
        <div class="row button">
            <input type="submit" value="Đăng nhập" />
        </div>
        <div class="row custom-button">
            <a href="/index" th:href="@{/index}" class="custom-button-link">Quay về trang chủ</a>
        </div>
        <div class="signup-link">Chưa có tài khoản? <a href="/signup" th:href="@{/signup}">Đăng ký</a></div>
    </form>
</div>
</body>
</html>