<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="~{admin/fragments/header :: header}"></nav>
    <aside th:replace="~{admin/fragments/asideSidebar :: asideSidebar}"></aside>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Quản lý bài viết</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
                            <li class="breadcrumb-item active">Quản lý bài viết</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="p-2 d-flex justify-content-between">
                            <h3 class="card-title">Danh sách bài viết</h3>
                            <a class="mt-3 btn btn-success" th:href="@{/admin/baiviet/create}">Thêm mới bài viết</a>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Mã bài viết</th>
                                    <th>Tiêu đề</th>
                                    <th>Người đăng</th>
                                    <th>Ngày xuất bản</th>
                                    <th>Thể loại</th>
                                    <th>Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="baiViet : ${list_baiviet}">
                                    <td th:text="${baiViet.id}"></td>
                                    <td th:text="${baiViet.tieuDe}"></td>
                                    <td th:text="${baiViet.maUser.id}"></td>
                                    <td th:text="${baiViet.ngayXuatBan}"></td>
                                    <td th:text="${baiViet.theLoai}"></td>
                                    <td>
                                        <a th:href="@{/admin/baiviet/show/{id}(id=${baiViet.id})}" class="btn btn-primary">Chi tiết</a>
                                        <a th:href="@{/admin/baiviet/edit/{id}(id=${baiViet.id})}" class="btn btn-warning">Sửa</a>
                                        <a th:href="@{/admin/baiviet/delete/{id}(id=${baiViet.id})}" class="btn btn-danger" onclick="return confirm('Bạn có chắc muốn xóa?')">Xóa</a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(list_baiviet)}">
                                    <td colspan="6" class="text-center">Không có dữ liệu để hiển thị!</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer th:replace="~{admin/fragments/mainFooter :: mainFooter}"></footer>
</div>
<div th:replace="~{admin/fragments/script :: script}"></div>
</body>
</html>